	</div>
<!--{if empty($topic) || ($topic[usefooter])}-->
	<!--{eval $focusid = getfocus_rand($_G[basescript]);}-->
	<!--{if $focusid !== null}-->
		<!--{eval $focus = $_G['cache']['focus']['data'][$focusid];}-->
		<div class="focus" id="sitefocus">
			<h3 class="flb">
				<em><!--{if $_G['cache']['focus']['title']}-->{$_G['cache']['focus']['title']}<!--{else}-->{lang focus_hottopics}<!--{/if}--></em>
				<span><a href="javascript:;" onclick="setcookie('nofocus_$focusid', 1, 86400);$('sitefocus').style.display='none'" class="flbc" title="{lang close}">{lang close}</a></span>
			</h3>
			<hr class="l" />
			<div class="detail">
				<h4><a href="{$focus['url']}" target="_blank">$focus['subject']</a></h4>
				<p>
					<!--{if $focus[image]}-->
					<a href="{$focus['url']}" target="_blank"><img src="{$focus['image']}" onload="thumbImg(this, 1)" _width="58" _height="58" /></a>
					<!--{/if}-->
					$focus['summary']
				</p>
			</div>
			<hr class="l" />
			<a href="{$focus['url']}" class="moreinfo" target="_blank">{lang focus_show}</a>
		</div>
	<!--{/if}-->
	<!--{ad/footerbanner/wp a_f/1}--><!--{ad/footerbanner/wp a_f/2}--><!--{ad/footerbanner/wp a_f/3}-->
	<!--{ad/float/a_fl/1}--><!--{ad/float/a_fr/2}-->
	<!--{ad/couplebanner/a_fl a_cb/1}--><!--{ad/couplebanner/a_fr a_cb/2}-->
	<!--{hook/global_footer}-->
<div id="comiis_footer">
<div class="comiis_footer">
<a href="/aboutus/index.html" target="_blank">论坛简介</a>|
<a href="http://www.admin600.com/thread-8-1-1.html" target="_blank">广告业务</a>|
<a href="http://www.admin600.com/forum.php?gid=43" target="_blank">合作交流</a>|
<a href="/aboutus/join.html" target="_blank">诚聘英才</a>|
<a href="/aboutus/lawfirm.html" target="_blank">法律声明</a>|
<a href="/aboutus/link.html" target="_blank">友情链接</a>|
<a href="/aboutus/secret.html" target="_blank">隐私保护</a>|
<a href="http://www.admin600.com/misc-faq.html" target="_blank">帮助中心</a><!--{if $_G['setting']['adminemail']}-->|
<a href="/aboutus/contact.html" target="_blank">联系我们</a>|
<a href="javascript:;" onclick="showWindow('miscreport', 'misc.php?mod=report&url=$_G[currenturl_encode]');return false;">举报当前页</a><!--{/if}-->|
<a href="http://www.admin600.com/forum.php?archiver=1" target="_blank">Archiver</a>
<!--{hook/global_footerlink}-->
</div>
<div class="comiis_copyright">
Copyright &copy; 2010-2011 A6站长论坛(www.admin600.com) 版权所有 All Rights Reserved.<!--{if $_G['setting']['icp']}-->&nbsp;<a href="http://www.miibeian.gov.cn/" target="_blank">$_G['setting']['icp']</a><!--{/if}--><br>
本站信息均由网民提供,严禁在本论坛发表与中华人民共和国法律相抵触的言论！<br>
Powered by <a href="http://www.admin600.com/" target="_blank">站长</a> &nbsp;&nbsp;技术支持: <A href="http://www.admin600.com/" target=_blank title="A6站长论坛">A6站长论坛</A><!--{if $_G['setting']['statcode']}-->&nbsp;&nbsp;{$_G['setting']['statcode']}<!--{/if}-->
  </div>
</div>
<script language="javascript">
function killErrors() {
    return true;
}
window.onerror = killErrors;
</script>
<!--{eval updatesession();}-->
<!--{/if}-->
<ul id="usersetup_menu" class="p_pop" style="display:none;">
	<li><a href="home.php?mod=spacecp&ac=avatar">{lang modify_avatar}</a></li>
	<li><a href="home.php?mod=spacecp&ac=profile">{lang personal_profile}</a></li>
	<!--{if $_G['setting']['verify']['enabled'] || $_G['setting']['my_app_status'] && $_G['setting']['videophoto']}-->
		<li><a href="{if $_G['setting']['verify']['enabled']}home.php?mod=spacecp&amp;ac=profile&amp;op=verify{else}home.php?mod=spacecp&amp;ac=videophoto{/if}">{lang certification}</a></li>
	<!--{/if}-->
	<li><a href="home.php?mod=spacecp&ac=credit">{lang credits}</a></li>
	<li><a href="home.php?mod=spacecp&ac=usergroup">{lang usergroup}</a></li>
	<li><a href="home.php?mod=spacecp&ac=privacy">{lang privacy_filter}</a></li>
	<!--{if $_G['setting'][sendmailday]}-->
	<li><a href="home.php?mod=spacecp&ac=sendmail">{lang mail_notifier}</a></li>
	<!--{/if}-->
	<li><a href="home.php?mod=spacecp&amp;ac=profile&amp;op=password">{lang password_security}</a></li>
	<!--{if !empty($_G['setting']['plugins']['spacecp'])}-->
		<!--{loop $_G['setting']['plugins']['spacecp'] $id $module}-->
			<!--{if !$module['adminid'] || ($module['adminid'] && $_G['adminid'] > 0 && $module['adminid'] >= $_G['adminid'])}--><li{if $_G[gp_id] == $id} class="a"{/if}><a href="home.php?mod=spacecp&amp;ac=plugin&id=$id">$module[name]</a></li><!--{/if}-->
		<!--{/loop}-->
	<!--{/if}-->
</ul>
<!--{if $upgradecredit !== false}-->
<div id="g_upmine_menu" class="g_up" style="display:none;">
	<div class="crly">
		{lang credits} $_G[member][credits], {lang thread_groupupgrade} $upgradecredit {lang credits}
	</div>
	<div class="mncr"></div>
</div>
<!--{/if}-->
<!--{if !$_G['setting']['bbclosed']}-->
	<!--{if $_G[uid] && !isset($_G['cookie']['checkpm'])}-->
	<script type="text/javascript" src="home.php?mod=spacecp&ac=pm&op=checknewpm&rand=$_G[timestamp]"></script>
	<!--{/if}-->
	<!--{if !isset($_G['cookie']['sendmail'])}-->
	<script type="text/javascript" src="home.php?mod=misc&ac=sendmail&rand=$_G[timestamp]"></script>
	<!--{/if}-->
<!--{/if}-->
<!--{if $_GET['diy'] == 'yes' && ($_G[mod] == 'topic' || $_G[group][allowdiy]) && (empty($do) || $do != 'index') && !empty($_G['style']['tplfile'])}-->
<script type="text/javascript" src="{$_G[setting][jspath]}common_diy.js?{VERHASH}"></script>
<script type="text/javascript" src="{$_G[setting][jspath]}portal_diy.js?{VERHASH}"></script>
<!--{/if}-->
<!--{if $_GET['diy'] == 'yes' && $space['self'] && $_G[mod] == 'space' && $do == 'index'}-->
<script type="text/javascript" src="{$_G[setting][jspath]}common_diy.js?{VERHASH}"></script>
<script type="text/javascript" src="{$_G[setting][jspath]}space_diy.js?{VERHASH}"></script>
<!--{/if}-->
<!--{if $_G['member']['newprompt'] && (empty($_G['cookie']['promptstate_'.$_G[uid]]) || $_G['cookie']['promptstate_'.$_G[uid]] != $_G['member']['newprompt']) && $_G['gp_do'] != 'notice'}-->
<script type="text/javascript">noticeTitle();</script>
<!--{/if}-->
<!--{eval output();}-->
</body>
</html>